# EDA - Exploratory Data Analysis

HINT: 
- Faça uma pergunta para o DATA SET
- Limpe ao menos 3 colunas

In [1]:
import pandas as pd
import numpy as np

In [2]:
shark = pd.read_csv('GSAF5.csv',encoding='latin-1')
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# Verificar colunas 
- dropar colunas repetidas: Case number / href (links
- deletar coluna pdf

In [3]:
(~(shark['Case Number.1'] == shark['Case Number.2'])).sum()
(~(shark['Case Number.1'] == shark['Case Number'])).sum()
(~(shark['Case Number.2'] == shark['Case Number'])).sum()

2

In [4]:
# qual deletar?
mask1 = (~(shark['Case Number.1'] == shark['Case Number.2']))
mask2 = (~(shark['Case Number.1'] == shark['Case Number']))
mask3 = (~(shark['Case Number.2'] == shark['Case Number']))

#rows divergentes
div_cases = shark[['Case Number','Case Number.1','Case Number.2','pdf','Investigator or Source']].loc[(mask1|mask2|mask3),:]
div_cases.index

#Aqui decidimos que substituiriamos as strings conflitantes (divergentes), mas manteríamos apenas uma coluna "case number".
#Substituimos os valores corretos tirando os das coluna "pdf"

#We will use a variable to store temporary values of the DF: shark_temp
shark_temp = shark.copy()

shark_temp.iloc[list(div_cases.index),0] = shark.iloc[list(div_cases.index),16].apply(lambda x: x.split('-')[0])

#Agora, podemos dropar as colunas repetidas "Case Number.1" e "Case Number.2"
keep_cols = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'original order', 'Unnamed: 22','Unnamed: 23']

shark_temp = shark_temp.loc[:,keep_cols]

## Removendo "Href" ou "href formula"

## Limpando colunas com mts NaN

In [5]:
shark_temp.isna().sum()/shark_temp.shape[0]*100

Case Number                0.000000
Date                       0.000000
Year                       0.000000
Type                       0.000000
Country                    0.717623
Area                       6.708945
Location                   8.277704
Activity                   8.795060
Name                       3.337784
Sex                        9.462617
Age                       44.742991
Injury                     0.450601
Fatal (Y/N)                0.317089
Time                      53.621495
Species                   48.965287
Investigator or Source     0.250334
pdf                        0.000000
href formula               0.016689
href                       0.050067
original order             0.000000
Unnamed: 22               99.983311
Unnamed: 23               99.966622
dtype: float64

In [6]:
print(shark_temp.loc[:,'Unnamed: 22'].unique())
print(shark_temp.loc[:,'Unnamed: 23'].unique())

#since those two last columns have no meaningfull information, we will discard them.

#Column "original order" has unique numbers ranging from 1 to 5993, which is like an index, but in case timer order. 
shark_temp = shark_temp.loc[:,'Case Number':'href']
shark_temp

[nan 'stopped here']
[nan 'Teramo' 'change filename']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.16,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

## removing other futile columns

In [7]:
# name
# Investigator or Source
# Location : 3930 unique values... from 5992. It would be really hard to find all typos of same areas.
keep_cols = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Activity', 'Sex ', 'Age', 
             'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'pdf', 'href formula', 'href']
shark_temp = shark_temp.loc[:,keep_cols]

In [8]:
#cleaning column names:
col_list = [i.lower().strip().replace(' ', '_') for i in shark_temp.columns]
shark_temp.columns = col_list

## Transforming Fatal(Y/N)

In [9]:
shark_temp['fatal'] = shark_temp.loc[:,'fatal_(y/n)'].apply(lambda x: 1 if x == 'Y' else 0)

In [10]:
#changing columns
keep_cols = ['case_number', 'date', 'year', 'type', 'country', 'area', 'activity',
       'sex', 'age', 'injury', 'fatal', 'time', 'species', 'pdf',
       'href_formula', 'href']
shark_temp = shark_temp.loc[:,keep_cols]

In [30]:
shark_temp.type.value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: type, dtype: int64

In [48]:
shark_temp.groupby(['country','type'])['fatal'].describe().sort_values(by=['country'], ascending=False).loc[['USA','AUSTRALIA','BRAZIL']]

                         count      mean       std  min  25%  50%   75%  max
country   type
USA       Invalid        183.0  0.426230  0.495885  0.0  0.0  0.0  1.00  1.0
          Boat            38.0  0.000000  0.000000  0.0  0.0  0.0  0.00  0.0
          Boating         16.0  0.000000  0.000000  0.0  0.0  0.0  0.00  0.0
          Unprovoked    1646.0  0.089307  0.285274  0.0  0.0  0.0  0.00  1.0
          Provoked       204.0  0.019608  0.138989  0.0  0.0  0.0  0.00  1.0
          Sea Disaster    29.0  0.586207  0.501230  0.0  0.0  1.0  1.00  1.0
BRAZIL    Unprovoked      86.0  0.348837  0.479398  0.0  0.0  0.0  1.00  1.0
          Sea Disaster     4.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          Provoked         4.0  0.250000  0.500000  0.0  0.0  0.0  0.25  1.0
          Invalid          8.0  0.625000  0.517549  0.0  0.0  1.0  1.00  1.0
AUSTRALIA Boating         51.0  0.039216  0.196039  0.0  0.0  0.0  0.00  1.0
          Provoked       130.0  0.015385  0.123553  0.0  0.0  0.0  0.00  1.0
          Boat            64.0  0.000000  0.000000  0.0  0.0  0.0  0.00  0.0
          Invalid        113.0  0.530973  0.501263  0.0  0.0  1.0  1.00  1.0
          Sea Disaster    24.0  0.666667  0.481543  0.0  0.0  1.0  1.00  1.0
          Unprovoked     897.0  0.290970  0.454463  0.0  0.0  0.0  1.00  1.0

## Types

In [16]:
mask = ~(shark_temp.pdf.apply(lambda x: x.endswith('pdf')))
shark_temp[mask].pdf

157           2015.08.19-Szsarmack
177          2015.06.30.b-Steve.pf
193             Court Case pending
226         2015.02.14-Bishop.pdf
251      2014.11.20-Mauritius.pdf
252           2014.11.19-Freo.pdf
343       .2014.04.12.R-inflatable
352            2014.03.18.c-Borgna
359            2014.02.17.R-OneDLL
363         2014.01.26-O'Connor.pf
364               2014.01.25-Grant
425          2013.07.29.a-Gatewood
823                          12.26
1004             2008.07.26.a-Maui
2476         1989.00.00.b-Halstead
2714           1983.06.00-Starling
3987             1957.00.00.i-baby
4481          1942.07.06-Bardolini
4668    1935.08.24-Atherfield.pdf
5257                    1905.07.00
5329            1899.09.11.R-Guyot
5480     1888.10.23.R-Croatia. Pdf
5694            1863.00.00.R-Corfu
5834             1788.05.10-Sydney
5856          1638.00.00.R-Herbert
Name: pdf, dtype: object

# Limpar 3 colunas

## Limpar a coluna 'Date'
 - se male == unknown

In [22]:
import re

In [ ]:
shark_temp['year_year'] =

TypeError: expected string or bytes-like object

In [ ]:
def year_year
    if len(re.findall(pattern,text)) == 1 :
        shark_temp['year_year'] = re.findall(pattern,text)
    elif len(re.findall(pattern,text)) == 2 :
        shark_temp['year_year'] = (int(re.findall(pattern,text)[0])+int(re.findall(pattern,text)[1]))/2
    else:
        return x

In [23]:
shark_temp['date'].apply(lambda x: x+x)

0         18-Sep-16
1         18-Sep-16
2         18-Sep-16
3         17-Sep-16
4         16-Sep-16
           ...
5987    Before 1903
5988    Before 1903
5989      1900-1905
5990      1883-1889
5991      1845-1853
Name: date, Length: 5992, dtype: object



## Limpar a coluna 'Type'

## Limpar a coluna Year 
criar nova agrupando por décadas

# Probabilidade de sobrevivência num ataque de tubarão

## Criar coluna de número de sobreviventes em um ataque

## Coluna com flags de: injuries / not